API_TIMEOUT=3
USE_DATABASE=true
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cars
DB_USER=postgres
DB_PASSWORD="22mpq6x#MCCF"
FORCE_REPARSE=true
PARSE_WORKERS=15
MODELS_PER_BRAND=2
PAGESIZE=10
IMG_PATH=IMG
PARSE_PHOTOS=true
DOWNLOAD_PHOTOS=true
MAX_PHOTO_COMBINATIONS=0
MAX_COLORS=0
PARSE_PANORAMAS=true
DOWNLOAD_PANORAMAS=true
PARSE_MODES=1
360ONLY=false
360ONLYIDPHOTO=1
LOG_DIR=logs
LOG_RETENTION_DAYS=7
LOG_LEVEL=INFO
# Перевод
GOOGLE_TRANSLATE_API_KEY=
FORCE_TRANSLATE=false